*-local.*
/docker/context/home/*/[^R]*
/data/local/
/docker/docker-compose.yml
/monolith/src/dendrite_config.rs
/monolith/proto/
proto_*.rs

/present/src/grpc/
/present/node_modules/
/present/build/

/upload/src/event_handlers/trusted_generated.rs
/upload/src/dendrite_config.rs
/upload/proto/

/aws

/target/
**/*.rs.bk

/.idea/
*.iml
.DS_Store
